#searchBox{
    width: 350px;
    border-radius: 0 8px 0 8px; 
    border:3px solid black;
    position: absolute;
    left: 40%;
    top: 50px;    
    z-index: 10999;
    display: none;
    h2{        
        margin: 0;
        padding: 15px;        
    }    
    hr{
        margin: 0;
        border-color: black;
    }    
    
    form{
        padding: 15px;
        input[type="text"]{
            width: 75%;
        }
    }
}

@media screen and (max-width: $tablette) {
    #searchBox{  
        margin: auto;
        top: 135px;
        right: 20px; 
        left: 20px;         
    }
}